In [8]:
import pandas as pd
import psycopg2 as pg2
from sqlalchemy import create_engine

In [114]:
df = pd.read_csv('../data/data.csv', parse_dates=['time'])

In [115]:
df.head()

   userId  eventName       time product
0       6   register 2023-03-02     NaN
1       6     launch 2023-03-03     NaN
2       2   register 2023-03-04     NaN
3       2     launch 2023-03-04     NaN
4       6  pageVisit 2023-03-06  prod_1

In [116]:
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'user_data'
df.to_sql(name, engine, if_exists='replace')

66

In [117]:
con = pg2.connect(host='this_postgres',
                  user='postgres',
                  password='password',
                  database='postgres')
con.autocommit = True
cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

In [122]:
sql = """
-- собираем данные о зарегистрировавшихся пользователях
WITH registered_users AS (
    SELECT "userId", 
           DATE_TRUNC('week', time) AS week
    FROM user_data
    WHERE "eventName" = 'register'
),

-- находим дату первой загрузки для каждого пользователя
first_downloads AS (
    SELECT "userId", 
           DATE_TRUNC('week', time) AS week
    FROM (
        SELECT "userId", time,
               ROW_NUMBER() OVER (PARTITION BY "userId" ORDER BY time) AS rn
        FROM user_data
        WHERE "eventName" = 'download'
    ) sub
    WHERE rn = 1
),

-- вычисляем количество регистраций по неделям
registered_users_per_week AS (
    SELECT week, 
           COUNT("userId") AS registrations
    FROM registered_users
    GROUP BY week
),

-- вычисляем количество первых загрузок по неделям
first_downloads_per_week AS (
    SELECT r.week, 
           COUNT(DISTINCT r."userId") AS first_downloads
    FROM registered_users r
    JOIN first_downloads d ON r."userId" = d."userId" AND r.week = d.week
    GROUP BY r.week
)

-- рассчитываем конверсию в загруку по неделям
SELECT COALESCE(fd.week, ru.week) AS week, 
       COALESCE(ru.registrations, 0) AS users, 
       COALESCE(fd.first_downloads::FLOAT / NULLIF(ru.registrations, 0), 0) AS "CR"
FROM registered_users_per_week ru
FULL OUTER JOIN first_downloads_per_week fd ON ru.week = fd.week
ORDER BY week;
"""

In [123]:
select(sql)

/tmp/ipykernel_20969/3776439355.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql,con)

        week  users    CR
0 2023-02-27      2  0.00
1 2023-03-06      4  0.25
2 2023-03-27      4  0.00